* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

h1,
h2 {
  color: white;
}

.default-container {
  background-color: #555555;
  padding: 1rem;
  color: white;
}

.default-title {
  background-color: #555555;
  padding: 1rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-form {
  align-self: center;
}

.btn-form:hover {
  background-color: rgb(128, 128, 128) !important;
  color: #212529;
  font-weight: bold;
  border-radius: 5px;
}

.navbar-nav,
.navbar-text-color {
  margin-left: auto;
  color: white;
}

header img {
  width: 150px;
}

footer {
  padding: 20px;
}
footer p {
  font-weight: bold;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer li {
  color: white;
  text-decoration: none;
  list-style: none;
}

.ubicacion {
  padding: 10px;
}

.container-presentacion {
  padding: 20px;
  background-color: #474750;
}

.container-texto-home {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.clientes-galeria {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(1fr);
  gap: 1rem;
  padding: 10px;
  color: #313437;
}
.clientes-galeria .photos {
  padding-bottom: 20px;
}
.clientes-galeria .item {
  padding-bottom: 30px;
}

.imagen-clientes {
  box-shadow: 2px 2px 4px #000000;
}

.clientes-grid-img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
}

.clientes-grid-img-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
}

.clientes-grid-img-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
}

.clientes-grid-img-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
}

.clientes-grid-img-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}

.clientes-grid-img-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}

.clientes-grid-img-7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}

.clientes-grid-img-8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}

.contact-form {
  padding: 20px;
  background-color: #555555;
}

.grid-container-form-data h4 {
  color: white;
}

.imagen-contacto {
  border-radius: 10px;
}

.white-line {
  padding-top: 1rem;
  color: white;
}

.grid-container-form-data {
  padding: 10px;
  font-weight: bold;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.btn-form {
  align-self: center;
}

.btn-form:hover {
  background-color: rgb(128, 128, 128) !important;
  color: #212529;
  font-weight: bold;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.nosotros-parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros-parrafo p:hover {
  background-color: #1f2528;
}

.modelos-container {
  padding: 10px;
}

.container-modelos-img {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 10px;
}

.white-line {
  color: white;
}

.imagen-modelos {
  box-shadow: 2px 2px 4px #000000;
}

/*# sourceMappingURL=styles.css.map */
