$ff-quicksand: "Quicksand", sans-serif;
$h1-color: white;
$h2-color: white;
$main-background: #555555;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $ff-quicksand;
}

h1,
h2{
	color: $h1-color;
}

@mixin flexbox($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.default-container{
    background-color: $main-background;
    padding: 1rem;
    color: white;
}

.default-title{
    background-color: $main-background;
    padding: 1rem;
    color: white;
    text-align: center;
    @include flexbox(column, center, center);
}
