footer{
    padding: 20px;

	p{
		font-weight: bold;
		color: white;
	}

	a{
		color: white;
		text-decoration: none;
	}

	li{
		color: white;
		text-decoration: none;
		list-style: none;
	}
}

.ubicacion{
    padding: 10px;
}