.container-presentacion{
    padding: 20px;
    background-color: #474750;
}

.container-texto-home{
    padding: 10px;
    color: white;
    @include flexbox(column, start, space-between);
}

.container-texto-home h1{
    font-size: 4rem;
}

.container-texto-home h2{
    font-size: 3rem;
}

.grid-container-image{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
    gap: 1rem;
    padding: 10px;
}

.grid-img-1,
.grid-img-2,
.grid-img-3,
.grid-img-4{
    box-shadow: 2px 2px 4px #000000;
}

.grid-img-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.grid-img-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
  
.grid-img-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
  
.grid-img-4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-imagen-home{
    border-radius: 5px;  
}