.modelos-container{
    padding: 10px;
}

.container-modelos-img{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
}

.white-line{
    color: white;
}

.imagen-modelos{
    box-shadow: 2px 2px 4px #000000;
}
